<% content_for :header do %>
  <h1>Book Genres</h1>
<% end %>

<% content_for :vertical_nav do %>
  <ul class="nav flex-column">
    <li class="nav-item mb-3">
      <%= button_to "Back to Books", books_path, :method => "get", class: "btn btn-info btn-block" %>
    </li>
    <li class="nav-item">
      <%= button_to "Back to my Bookshelves", user_bookshelves_path(current_user), :method => "get", class: "btn btn-info btn-block" %>
    </li>
  </ul>
<% end %>

<% content_for :content do %>
  <p>Click on a genre below to see all books in that Genre</p>
  <% @genres.sort.each do |genre| %>
    <p><%= link_to genre.name, genre_path(genre) %></p>
  <% end %>
<% end %>