<% content_for :header do %>
  <h1><%= @genre.name %></h1>
<% end %>

<% content_for :vertical_nav do %>
  <ul class="nav flex-column">
    <li class="nav-item mb-3">
      <%= button_to "Back to Genres", genres_path, :method => "get", class: "btn btn-info btn-block" %>
    </li>
    <li class="nav-item">
      <%= button_to "Back to Books", books_path, :method => "get", class: "btn btn-info btn-block" %>
    </li>
  </ul>
<% end %>

<% content_for :content do %>
  <p>Books:</p>
  <% @books.sort.each do |book| %>
    <p><%= link_to book.title, book_path(book) %></p>
  <% end %>
<% end %>
